<!-- FILTROS -->
 <form #frm="ngForm">
   <div class="p-4 bg-white shadow">
     <div class="flex flex-col md:flex-row items-center justify-center gap-4">
       <!-- Input de busca -->
       <input type="text" name="nomeFiltro" [(ngModel)]="nomeFiltro" placeholder="Pesquisar pelo nome do local" class="w-full border border-gray-300 p-2 rounded shadow-sm focus:ring focus:ring-blue-300"/>
   
       <!-- Select de categorias -->
       <select class="w-full border border-gray-300 p-2 rounded shadow-sm focus:ring focus:ring-blue-300" name="categoriaFiltro" [(ngModel)]="categoriaFiltro">
         <option [value]="0">Todas as Categorias</option>
         <option *ngFor="let cat of categoriasFiltros" [value]="cat.nome">
           {{ cat.nome }}
         </option>
       </select>

        <!-- Botão de aplicar filtros -->
        <button type="button" (click)="aplicarFiltros()" class="bg-blue-500 text-white px-4 py-2 rounded shadow hover:bg-blue-600 transition">
          Aplicar Filtros
        </button>
     </div>
   </div>
  
 </form>

<div id="lugaresList" class="p-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">

  <div class="bg-white shadow rounded overflow-hidden" *ngFor="let lugar of lugares">
    <img [src]="lugar.urlFoto" [alt]="lugar.nome" class="w-full h-40 object-cover" />

    <div class="p-4">
      <h2 class="text-lg font-semibold">{{ lugar.nome }}</h2>

      <p class="text-gray-500">
        Categoria:
        <span class="text-blue-600">{{ lugar.categoria }}</span>
      </p>

      <p class="text-gray-500">Localização: {{ lugar.localizacao }}</p>

      <div class="mt-2 flex items-center">
        <ng-container
          *ngFor="let estrela of getEstrelas(lugar.avaliacoes ?? 0)"
        >
          <svg
            *ngIf="estrela === 1"
            class="w-5 h-5 text-yellow-400"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.286 3.955h4.162c.969 0 1.371 1.24.588 1.81l-3.37 2.448 1.287 3.955c.3.921-.755 1.688-1.54 1.118L10 13.348l-3.37 2.448c-.784.57-1.838-.197-1.54-1.118l1.287-3.955-3.37-2.448c-.783-.57-.38-1.81.588-1.81h4.162L9.05 2.927z"
            />
          </svg>

          <svg
            *ngIf="estrela === 0"
            class="w-5 h-5 text-gray-300"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.286 3.955h4.162c.969 0 1.371 1.24.588 1.81l-3.37 2.448 1.287 3.955c.3.921-.755 1.688-1.54 1.118L10 13.348l-3.37 2.448c-.784.57-1.838-.197-1.54-1.118l1.287-3.955-3.37-2.448c-.783-.57-.38-1.81.588-1.81h4.162L9.05 2.927z"
            />
          </svg>
        </ng-container>

        <span class="ml-2 text-gray-600 text-sm">
          {{ lugar.avaliacoes ?? 0 }}
        </span>
      </div>
    </div>
  </div>
</div>
